

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  :root {
    
html{
    font-size: 62.5%;
}

body{
  background: white;
  width: 100%;
  font-family: 'Arial', sans-serif;
-webkit-font-smoothing: antialiased;
color: #fff;
box-sizing: border-box;

}

.container{
    width: 85%;
    height: fit-content;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, max-content)) 1fr;
    grid-template-rows: repeat(1, 570px);
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,.3);
    border-right: 6px solid black;
    border-left: 4px solid white;

    @media only screen and (max-width: 1000px) {
      grid-template-columns: repeat(1, minmax(100px, max-content)) 1fr;
    grid-template-rows: repeat(1, 570px);
       }
       @media only screen and (max-width: 800px) {
        grid-template-columns:  1fr;
      grid-template-rows: repeat(1, 100px);
         }
 
}


}